In [8]:
# T1-22. Time-Series4 (Weekly data) / #주간 #합계
# 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 
# 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic2.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df['Date'] = pd.to_datetime(df['Date'])
# print(df.info())

df['week'] = df['Date'].dt.week
# df['weekofyear'] = df['Date'].dt.weekofyear
df['yyyy'] = df['Date'].dt.year
# print(dir(df['Date'].dt))

# print(df.head())
# print(df.tail())

df_res = df.groupby(['week','yyyy']).sum()['Sales']

max_week = df_res.max()
min_week = df_res.min()

answer = abs(max_week - min_week)
print(answer)

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
91639050

C:\Users\user\AppData\Local\Temp\ipykernel_22904\1515823756.py:17: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['Date'].dt.week

In [16]:
# 해답
import pandas as pd

df = pd.read_csv('./data/basic2.csv', index_col=0)
print(df.head())

df.index = pd.to_datetime(df.index)

# 이거 이제 지원 안하나?
# datetime으로 바꿔주면 되네
df_w = df.resample('W').sum()
print(df_w.head())

ma = df_w['Sales'].max()
mi = df_w['Sales'].min()

answer = ma - mi
print(answer)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0
               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1
91639050

In [14]:
max_week, min_week

(99165648, 7526598)

In [15]:
ma, mi

(99165648, 7526598)

## --------------------------------

In [42]:
# T1-23. Drop Duplicates / #중복제거 #결측치 #10번째값으로채움
# f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오
# - 결측치는 f1의 데이터 중 내림차순 정렬 후 10번째 값으로 채움
# - 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
# - 최종 결과값은 절대값으로 출력
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head())
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df['f1'] = df['f1'].sort_values(ascending=False)
print(df.head(10))
print(df['f1'][9])

df['f1'] = df['f1'].fillna(df['f1'][9])
# print(df.isnull().sum())
# print(df.head())

median1 = df['age'].median()

# df = df.dropna?()
median2 = df['age'].median()

answer = abs(median1 - median2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
     id   age city     f1  f2   f3    f4         f5
0  id01   2.0   서울    NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울   70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울   61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울    NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울   85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울   57.0   0  vip  INTP  20.129444
6  id07  36.3   서울   60.0   1  NaN  ISFJ   9.796378
7  id08  38.0   서울  101.0   1  NaN  INFJ  83.685380
8  id09   3.3   서울   35.0   2  NaN  ESFJ  17.252986
9  id10  95.0   서울   74.0   1  NaN  ISFP  98.429899
74.0
0.0

In [45]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic1.csv')

top10 = df['f1'].sort_values(ascending=False).iloc[9]
df['f1'] = df['f1'].fillna(top10)
print(top10)

result1 = df['f1'].median()

df = df.drop_duplicates(subset=['age'])
result2 = df['f1'].median()

answer = abs(result1 - result2)
print(answer)

88.0
0.5

![](2022-11-07-12-46-09.png)

In [53]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head())
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

top10 = df['f1'].sort_values(ascending=False).iloc[9]
# print(df.head(10))
print(top10)

df['f1'] = df['f1'].fillna(top10)
# print(df.isnull().sum())
# print(df.head())

median1 = df['f1'].median()

df = df.drop_duplicates(subset=['age'], keep='first')
median2 = df['f1'].median()

answer = abs(median1 - median2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
88.0
0.5

In [50]:
result1, result2

(77.5, 77.0)

In [51]:
median1, median2

(77.5, 75.0)