In [5]:
# T1-1.Outlier(IQR) / #이상치 #IQR
# 데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 
# 이상치 데이터의 여성 수를 구하시오
# 풀이

import pandas as pd

df = pd.read_csv('./data/train.csv')
# print(df.head(3))

Q1 = df['Fare'].quantile(.25)
Q3 = df['Fare'].quantile(.75)
IQR = Q3 - Q1

cond1 = df['Fare'] < Q1-IQR*0.5
cond2 = df['Fare'] > Q3+IQR*0.5

df = df[cond1 | cond2]
answer = sum(df['Sex'] == 'female')
print(answer)

91

In [6]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/train.csv')
# print(df.head(3))

Q1 = df['Fare'].quantile(.25)
Q3 = df['Fare'].quantile(.75)
IQR = Q3 - Q1

cond1 = df['Fare'] < Q1 - IQR*1.5
cond2 = df['Fare'] > Q3 + IQR*1.5

df = df[cond1 | cond2]
answer = sum(df['Sex'] == 'female')
print(answer)

70

### ===========================

In [12]:
# T1-2.Outlier(age) / #이상치 #소수점나이
# 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 
# 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))
# print(df.info())

df_int = df['age'].astype('int')

df = df[df['age'] != df_int]
# print(df)

age_ceil = np.ceil(df['age'])
age_floor = np.floor(df['age'])
age_trunc = np.trunc(df['age'])

ceil_m = age_ceil.mean()
floor_m = age_floor.mean()
trunc_m = age_trunc.mean()

answer = ceil_m + floor_m + trunc_m
print(answer)

69.5

In [13]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
# df.head()

df = df[(df['age']-np.floor(df['age']))!= 0]

# 올림
m_ceil = np.ceil(df['age']).mean()
# 내림
m_floor = np.floor(df['age']).mean()
# 버림
m_trunc = np.trunc(df['age']).mean()

print(m_ceil + m_floor + m_trunc)

69.5

### ===========================

In [23]:
# T1-3. Missing data / #결측치 #삭제 #중앙 #평균
# 주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 
# 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 
# 'f1'컬럼의 평균값을 출력하세요!
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))
# print(df.isnull().sum()) # f1(31), f3(95)


idx = df.isnull().sum()[df.isnull().sum() >= len(df)*0.8].index
# print(idx)
df = df.drop(columns = idx)
# print(help(df.drop))
# print(df.head())

group_city = df.groupby('city').median()
print(group_city)

citys = group_city.index
col_f1 = group_city['f1']

for city,f1 in zip(citys, col_f1):
    df['f1'][df['city'] == city] = f1

# print(df.isnull().sum())
answer = df['f1'].mean()
print(answer)

        age    f1   f2         f5
city
경기    63.00  58.0  0.0  69.730313
대구    57.50  75.0  0.0  33.308999
부산    47.00  62.0  1.0  52.667078
서울    31.65  68.0  1.0  67.886373
64.16

C:\Users\user\AppData\Local\Temp\ipykernel_2236\2528236239.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f1'][df['city'] == city] = f1

In [24]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
# df.head()

df = df.drop(['f3'], axis=1)

s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()

df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

print(df['f1'].mean())

65.52

In [37]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))
# print(df.isnull().sum()) # f1(31), f3(95)


idx = df.isnull().sum()[df.isnull().sum() >= len(df)*0.8].index
# print(idx)
df = df.drop(columns = idx)
# print(help(df.drop))
# print(df.head())

group_city = df.groupby('city').median()
print(group_city)

citys = group_city.index
col_f1 = group_city['f1']

for city,f1 in zip(citys, col_f1):
    df['f1'][df['city'] == city] = df['f1'][df['city'] == city].fillna(f1)
    # print(city, f1)
    # print(df['f1'][df['city'] == city].fillna(f1))
    # print(df[df['city'] == city])

print(df.isnull().sum())
answer = df['f1'].mean()
print(answer)

        age    f1   f2         f5
city
경기    63.00  58.0  0.0  69.730313
대구    57.50  75.0  0.0  33.308999
부산    47.00  62.0  1.0  52.667078
서울    31.65  68.0  1.0  67.886373
id      0
age     0
city    0
f1      0
f2      0
f4      0
f5      0
dtype: int64
65.52

C:\Users\user\AppData\Local\Temp\ipykernel_2236\1375366123.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f1'][df['city'] == city] = df['f1'][df['city'] == city].fillna(f1)

### ===========================

In [39]:
# T1-4. Skewness and Kurtosis (Log Scale) / #왜도 #첨도 #로그스케일
# 주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 
# 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 
# 모두 더한 다음 소수점 2째자리까지 출력하시오
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/house_train.csv')
print(df.head(3))

skew1 = df['SalePrice'].skew()
kurt1 = df['SalePrice'].kurt()
print(skew1, kurt1)

df_log = df['SalePrice'].scale()
skew2 = df_log['SalePrice'].skew()
kurt2 = df_log['SalePrice'].kurt()

answer = round(skew1 + kurt1 + skew2 + kurt2, 2)
print(answer)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500

[3 rows x 81 columns]
1.8828757597682129 6.536281860064529

AttributeError: 'Series' object has no attribute 'scale'

In [40]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/house_train.csv')
print(df.head(3))

s1 = df['SalePrice'].skew()
k1 = df['SalePrice'].kurt()

df['SalePrice'] = np.log1p(df['SalePrice'])
s2 = df['SalePrice'].skew()
k2 = df['SalePrice'].kurt()

print(round(s1+s2+k1+k2,2))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500

[3 rows x 81 columns]
9.35

In [43]:
# 풀이 수정

import pandas as pd
import numpy as np

df = pd.read_csv('./data/house_train.csv')
# print(df.head(3))

skew1 = df['SalePrice'].skew()
kurt1 = df['SalePrice'].kurt()
# print(skew1, kurt1)

df['SalePrice'] = np.log1p(df['SalePrice'])
skew2 = df['SalePrice'].skew()
kurt2 = df['SalePrice'].kurt()
# print(df.head(3))

answer = round(skew1 + kurt1 + skew2 + kurt2, 2)
print(answer)

9.35

### ===========================

In [46]:
# T1-5. Standard deviation / #표준편차
# 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 
# 'f1'의 표준편차 차이를 절대값으로 구하시오

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))

cond1 = df['f4'] == 'ENFJ'
cond2 = df['f4'] == 'INFP'

std1 = df[cond1]['f1'].std()
std2 = df[cond2]['f1'].std()

answer = abs(std1 - std2)
print(answer)

5.859621525876811

### ===========================

In [58]:
# T1-6. Groupby Sum / #결측치 #조건
# 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 
# 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 
# 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.isnull().sum())

print(df.shape)
df = df.dropna(column='f1')
print(df.shape)
print(df.head())

group = df.groupby(['city', 'f2']).sum()
print(group.head())
group = group.reset_index(drop=False)
answer = group[(group['city']=='경기') & (group['f2'] == 0)]['f1']
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
(100, 8)

TypeError: DataFrame.dropna() got an unexpected keyword argument 'column'

In [80]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))

df = df[~df['f1'].isnull()]

df2 = df.groupby(['city','f2']).sum()
print(df2.head())
print(df2.iloc[0])
print(df2.iloc[0]['f1'])
print(df2.loc[('경기',0)]['f1'])

           age     f1          f5
city f2
경기   0   720.4  833.0  943.944823
     1   696.0  670.0  657.241212
     2   239.0  311.0  362.300060
대구   0   387.0  527.0  183.199568
     1   217.6  235.0  241.333824
age    720.400000
f1     833.000000
f5     943.944823
Name: (경기, 0), dtype: float64
833.0
833.0

In [70]:
import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))
# print(df.isnull().sum())

# print(df.shape)
df = df[df['f1'].notnull()]
# print(df.shape)
# print(df.head())

group = df.groupby(['city', 'f2']).sum()
# print(group.head())
group = group.reset_index(drop=False)
print(group.head())
answer = group[(group['city']=='경기') & (group['f2'] == 0)]['f1'][0]
print(answer)

  city  f2    age     f1          f5
0   경기   0  720.4  833.0  943.944823
1   경기   1  696.0  670.0  657.241212
2   경기   2  239.0  311.0  362.300060
3   대구   0  387.0  527.0  183.199568
4   대구   1  217.6  235.0  241.333824
833.0

### ===========================

In [90]:
# T1-7. Replace / #값변경 #조건 #최대값
# 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 
# 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))

df['f4'][df['f4'] == 'ESFJ'] = 'ISFJ'
# print(df['f4'][df['f4'] == 'ESFJ'])

cond1 = df['city'] == '경기'
cond2 = df['f4'] == 'ISFJ'

answer = df[cond1 & cond2]['age'].max()
print(answer)

90.0

C:\Users\user\AppData\Local\Temp\ipykernel_2236\3208479641.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f4'][df['f4'] == 'ESFJ'] = 'ISFJ'

In [91]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

print(df[(df['f4'] == 'ISFJ') & (df['city'] == '경기')]['age'].max())

90.0

In [92]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))

# df['f4'][df['f4'] == 'ESFJ'] = 'ISFJ'
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')
# print(df['f4'][df['f4'] == 'ESFJ'])

cond1 = df['city'] == '경기'
cond2 = df['f4'] == 'ISFJ'

answer = df[cond1 & cond2]['age'].max()
print(answer)

90.0

### ===========================

In [102]:
# T1-8. Cumulative Sum / #누적합 #결측치 #보간
# 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 
# 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 
# 누적합의 평균값을 출력한다. 
# (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))

df = df[df['f2'] == 1]
# df['f1'].cumsum()
# print(help(df['f1'].cumsum))
# print(help(df['f1'].bfill))

# print(df.head(3))
# print(df.isnull().sum())
df['f1'] = df['f1'].bfill()
# print(df.isnull().sum())

answer = df['f1'].cumsum()
answer = answer.mean()
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
1315.2702702702702

In [110]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')

# 조건에 따른 누적합
df2 = df[df['f2']==1]['f1'].cumsum()
# print(df2.head(10))

df2 = df2.fillna(method='bfill')
print(df2.mean())

980.3783783783783

In [112]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.head(3))

df = df[df['f2'] == 1]
# df['f1'].cumsum()
# print(help(df['f1'].cumsum))
# print(help(df['f1'].bfill))

# print(df.head(3))
# print(df.isnull().sum())
df2 = df['f1'].cumsum()

df2 = df2.fillna(method='bfill')
# print(df.isnull().sum())

answer = df2.mean()
print(answer)

980.3783783783783

### ===========================

In [115]:
# T1-9. Standardization / #표준화 #중앙값
# 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고
# 그 중앙값을 구하시오
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))

# print(dir(np))

answer = df['f5'].median()
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
64.11309937

In [116]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))

# 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
print(df.head(3))

print(df['f5'].median())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
0.260619629559015

In [118]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
print(df.head(3))

answer = df['f5'].median()
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
     id   age city    f1  f2   f3    f4        f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  1.220815
1  id02   9.0   서울  70.0   1  NaN  ENFJ  0.127343
2  id03  27.0   서울  61.0   1  NaN  ISTJ -1.394535
0.260619629559015

### ===========================

In [122]:
# 주어진 데이터에서 20세 이상인 데이터를 추출하고 
# 'f1'컬럼을 결측치를 최빈값으로 채운 후, 
# f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 
# 두 값의 차이를 절대값으로 구한다음 
# 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))

df = df[df['age'] >= 20]
# df['f1'] = df['f1'].fillna(df['f1'].최빈값())

import sklearn.preprocessing
# print(dir(sklearn.preprocessing))
import numpy
# print(dir(numpy))

answer = abs(yeo - boxcox)
answer = round(answer, 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

NameError: name 'yeo' is not defined

In [125]:
# 해답

import pandas as pd
import numpy as np
from sklearn.preprocessing import power_transform

df = pd.read_csv('./data/basic1.csv')

df = df[df['age']>=20]

print(df['f1'].mode())
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])

df['y'] = power_transform(df[['f1']], standardize=False) # method 디폴트 값은 여-존슨’yeo-johnson’
df['y'].head()

df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)
df['b'].head()

round(sum(np.abs(df['y'] - df['b'])),2)

0    50.0
Name: f1, dtype: float64

39.17

### ===========================

In [131]:
# T1-11. min-max scaling / #스케일링 #상하위값
# min-max스케일링 기준 상하위 5% 구하기
# 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 
# 상위 5%와 하위 5% 값의 합을 구하시오

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))

from sklearn.preprocessing import minmax_scale
# print(dir(sklearn.preprocessing))

df['f5'] = minmax_scale(df['f5'])

top = df['f5'].quantile(.05)
bottom = df['f5'].quantile(.95)

answer = top + bottom
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
1.0248740983597389

In [133]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['f5_1'] = scaler.fit_transform(df[['f5']])

lower = df['f5_1'].quantile(0.05)
# print(lower)

upper = df['f5_1'].quantile(0.95)
# print(upper)

print(lower + upper)

1.0248740983597389