In [15]:
# T1-14. Multi Index & Groupby / #멀티인덱스 #정렬 #인덱스리셋 #상위값
# # city와 f4를 기준으로 f5의 평균값을 구한 다음, 
# f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df2 = df.groupby(['city','f4']).mean()
df2 = df2['f5'].sort_values(ascending=False)
# display(df2)

# display(df2[:7])
answer = sum(df2[:7])
answer = round(answer, 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

643.68

In [21]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic1.csv')

df = df.groupby(['city', 'f4'])[['f5']].mean()

# display(df.reset_index())
df = df.reset_index().sort_values('f5', ascending=False).head(7)
display(df)

answer = round(df['f5'].sum(), 2)
print(answer)

   city    f4         f5
36   서울  ENFP  98.429899
2    경기  ESFJ  97.381034
44   서울  INTJ  91.297791
41   서울  ESTP  91.297791
47   서울  ISFP  91.057640
7    경기  INFP  90.531801
42   서울  INFJ  83.685380

643.68

## ------------------------------------

In [27]:
# T1-15. Slicing & Condition / #슬라이싱 #결측치 #중앙값 #조건
# 주어진 데이터 셋에서 age컬럼 상위 20개의 데이터를 구한 다음 
# f1의 결측치를 중앙값으로 채운다.
# 그리고 f4가 ISFJ와 f5가 20 이상인 
# f1의 평균값을 출력하시오!
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df = df.sort_values('age', ascending=False)
df = df.head(20)

df['f1'] = df['f1'].fillna(df['f1'].median())

answer = df[(df['f4']=='ISFJ') & (df['f5']>=20)]['f1'].mean()
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

73.875

In [31]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic1.csv')

df = df.sort_values('age', ascending=False).reset_index(drop=True)
# print(df)

df = df[:20]
# print(df)

df['f1'] = df['f1'].fillna(df['f1'].median())

cond = (df['f4']=='ISFJ') & (df['f5']>=20)

answer = df[cond]['f1'].mean()
print(answer)

73.875

## -------------------------------

In [37]:
# T1-16. Variance / #분산 #결측치전후값차이
# 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
# 앞에서 부터 20개의 데이터를 추출한 후 
# f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째 자리까지)
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df = df[df['f2']==0].sort_values('age', ascending=False)
# print(df)

df = df.head(20)
# print(df)

std1 = df['f1'].std()

df['f1'] = df['f1'].fillna(df['f1'].min())
std2 = df['f1'].std()

answer = std1 - std2
answer = round(answer, 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
-5.8

In [38]:
# 해답
# ascending = True (오름차순)
# ascending = False (내림차순)
# 분산(variance) = var()
# 표준편차(standard deviation) = std()

import pandas as pd

df = pd.read_csv('./data/basic1.csv')

cond = (df['f2']==0)
df = df[cond].sort_values('age', ascending=True).reset_index(drop=True)

df = df[:20]

var1 = df['f1'].var()
df['f1'] = df['f1'].fillna(df['f1'].min())
var2 = df['f1'].var()

answer = round(var1 - var2, 2)
print(answer)

38.44

In [39]:
# 풀이 수정

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df = df[df['f2']==0].sort_values('age', ascending=True)
# print(df)

df = df.head(20)
# print(df)

var1 = df['f1'].var()

df['f1'] = df['f1'].fillna(df['f1'].min())
var2 = df['f1'].var()

answer = var1 - var2
answer = round(answer, 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
38.44

## -------------------------------

In [58]:
# T1-17. Time-Series1 / #시계열데이터 #datetime
# 2022년 5월 sales의 중앙값을 구하시오
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic2.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

# df['yyyy'] = df['Date'][:4]
# print(df)

ls = []
for date in df['Date']:
    ls.append(int(date[:4]))
df['yyyy'] = ls
# print(df)

ls = []
for date in df['Date']:
    ls.append(int(date[5:7]))
df['MM'] = ls
# print(df)

df = df[(df['yyyy']==2022) & (df['MM']==5)]

answer = df['Sales'].median()
print(answer)

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
1477685.0

In [61]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic2.csv')

df['Date'] = pd.to_datetime(df['Date'])
# print(df.info())

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
print(df.head())
print(df.info())

cond = (df['year']==2022) & (df['month']==5)
answer = df[cond]['Sales'].median()
print(answer)

        Date     Sales      PV      UV  Events  year  month  day
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1
1 2022-01-02     36779    3969  2289.0       0  2022      1    2
2 2022-01-03  13943875  373890     NaN       1  2022      1    3
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4
4 2022-01-05   2395374  190684     NaN       0  2022      1    5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
 5   year    730 non-null    int64
 6   month   730 non-null    int64
 7   day     730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(6)
memory usage: 45.8 KB
None
1477685.0

## ---------------------------

In [74]:
# T1-18. Time-Series2 / #주말 #평일 #비교 #시계열데이터
# 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 
# (소수점 둘째자리까지 출력, 반올림)
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic2.csv')
# print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df['Date'] = pd.to_datetime(df['Date'])
# print(df.info())

df['yyyy'] = df['Date'].dt.year
df['MM'] = df['Date'].dt.month
df['dd'] = df['Date'].dt.day
df['day_of_week'] = df['Date'].dt.day_of_week
# print(df.head(3))
# print(df.info())
# print(dir(df['Date'].dt))

cond = (df['yyyy']==2022) & (df['MM']==5)
cond_weekend = (df['day_of_week']==5) | (df['day_of_week']==6)
cond_week = (df['day_of_week']!=5) & (df['day_of_week']!=6)

mean1 = df[cond & cond_weekend]['Sales'].mean()
mean2 = df[cond & cond_week]['Sales'].mean()

answer = round(mean1 - mean2, 2)
print(answer)

3010339.1

In [80]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic2.csv')

df['Date'] = pd.to_datetime(df['Date'])
# print(df.info())

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek
# print(df.head(3))

df['dayofweek'] = df['dayofweek'].apply(lambda x: x>=5, 1, 0)
# print(df.head(3))

weekend_cond = (df['year']==2022) & (df['month']==5) & (df['dayofweek'])
weekday_cond = (df['year']==2022) & (df['month']==5) & (~df['dayofweek'])

weekend = df[weekend_cond]['Sales'].mean()
weekday = df[weekday_cond]['Sales'].mean()

asnwer = round(weekend-weekday, 2)
print(answer)

3010339.1