In [1]:
# T1-24. Time-Series5 (Lagged Feature) / #시차데이터 #조건
# 주어진 데이터(basic2.csv)에서 새로운 컬럼(1일 이전 시차 컬럼)을 만들고, 
# Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic2.csv')
print(df.head(3))
# print(df.info())
print(df.isnull().sum())
print(df.shape)

# 1일 이전 시차 컬럼?

# Events가 1이면서 Sales가 1000000이하인 조건에 맞는 컬럼 합
answer =df[(df['Events']==1) & (df['Sales']<=1000000)]['PV'].sum()

print(answer)

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64
(730, 5)

In [4]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic2.csv')

df['previous_PV'] = df['PV'].shift(1)
print(df.head())

df['previous_PV'] = df['previous_PV'].fillna(method='bfill')
print(df.head())

cond = (df['Events']==1) & (df['Sales']<=1000000)
answer = df[cond]['previous_PV'].sum()
print(answer)

         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1          NaN
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0
         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1     397349.0
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0
1894876.0

In [8]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic2.csv')
# print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

# 1일 이전 시차 컬럼?
df['previous_PV'] = df['PV'].shift(1)
print(df.head())
df['previous_PV'] = df['previous_PV'].fillna(method='bfill')
print(df.head())


# Events가 1이면서 Sales가 1000000이하인 조건에 맞는 컬럼 합
answer =df[(df['Events']==1) & (df['Sales']<=1000000)]['previous_PV'].sum()

print(answer)

         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1          NaN
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0
         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1     397349.0
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0
1894876.0

## -------------------------------------

In [14]:
# [MOCK EXAM1] TYPE1 / 작업형1 모의고사
# 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 
# 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼을 A그룹의 중앙값으로 채우고, 
# 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼을 B그룹의 최대값으로 채운 후, 
# A그룹과 B그룹의 표준편차 합을 구하시오
# 단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum()) # f1, f3
# print(df.shape) # (100, 8)

df_a = df[:int(len(df)/2)]
df_b = df[int(len(df)/2):]
# print(df_a.head())
# print(len(df_a))

df_a['f1'] = df_a['f1'].fillna(df_a['f1'].median())
df_b['f1'] = df_b['f1'].fillna(df_b['f1'].max())
# print(df_a['f1'].isnull().sum())
# print(df_b['f1'].isnull().sum())

std_a = df_a['f1'].std()
std_b = df_b['f1'].std()

answer = round(std_a + std_b, 1)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
42.0

C:\Users\user\AppData\Local\Temp\ipykernel_13540\3529835832.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['f1'] = df_a['f1'].fillna(df_a['f1'].median())
C:\Users\user\AppData\Local\Temp\ipykernel_13540\3529835832.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b['f1'] = df_b['f1'].fillna(df_b['f1'].max())

In [15]:
# 해답

df = pd.read_csv('./data/basic1.csv')
print(df.shape)

dfA = df[:50]
dfB = df[50:]
print(dfA.shape, dfB.shape)

dfA.loc[:, 'f1'] = dfA['f1'].fillna(dfA['f1'].median())
dfB.loc[:, 'f1'] = dfB['f1'].fillna(dfB['f1'].max())

stdA = dfA['f1'].std()
stdB = dfB['f1'].std()

answer = round(stdA + stdB, 1)
print(answer)

(100, 8)
(50, 8) (50, 8)
42.0

C:\Users\user\AppData\Local\Temp\ipykernel_13540\809355893.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA.loc[:, 'f1'] = dfA['f1'].fillna(dfA['f1'].median())
C:\Users\user\AppData\Local\Temp\ipykernel_13540\809355893.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfB.loc[:, 'f1'] = dfB['f1'].fillna(dfB['f1'].max())

## ----------------------------------

In [17]:
# [MOCK EXAM1] TYPE1 / 작업형1 모의고사
# 2. 'f4'컬럼을 기준 내림차순 정렬과 
# 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 
# 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 
# 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 
# 그리고 'f5'컬럼의 평균값을 계산함
# 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum()) # f1, f3
# print(df.shape) # (100, 8)

df = df.sort_values('f4', ascending=False)
df = df.sort_values('f5', ascending=True)

f5_min = df.iloc[:10, :]['f5'].min()
df['f5'].iloc[:10] = f5_min
print(df.head())

answer = df['f5'].mean()
answer = round(answer, 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
      id   age city    f1  f2   f3    f4        f5
14  id15  22.0   서울  67.0   1  NaN  ENTP  9.796378
6   id07  36.3   서울  60.0   1  NaN  ISFJ  9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP  9.796378
54  id55  75.0   대구  63.0   2  NaN  ENTP  9.796378
35  id36  68.0   부산  77.0   1  NaN  INTP  9.796378
56.4

C:\Users\user\AppData\Local\Temp\ipykernel_13540\1977058699.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f5'].iloc[:10] = f5_min

In [23]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic1.csv')

df = df.sort_values(['f4', 'f5'], ascending=[False, True])
df = df.reset_index(drop=True)
print(df.head())

df.iloc[:10, 7] = df['f5'][:10].min()

answer = round(df['f5'].mean(), 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2  id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3  id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
53.63

In [19]:
# sort_values 2번 하는거랑 다중 조건으로 하는 거랑 다르네

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum()) # f1, f3
# print(df.shape) # (100, 8)

df = df.sort_values('f4', ascending=False)
df = df.sort_values('f5', ascending=True)
df = df.reset_index(drop=True)
print(df.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
     id   age city    f1  f2   f3    f4         f5
0  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378
1  id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
2  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
3  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
4  id36  68.0   부산  77.0   1  NaN  INTP  13.049921

In [28]:
# 풀이 수정

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum()) # f1, f3
# print(df.shape) # (100, 8)

# df = df.sort_values('f4', ascending=False)
# df = df.sort_values('f5', ascending=True)
df = df.sort_values(['f4','f5'], ascending=[False, True])
df = df.reset_index(drop=True)
print(df.head())

f5_min = df[:10]['f5'].min()
df['f5'][:10] = f5_min
print(df.head())

answer = df['f5'].mean()
answer = round(answer, 2)
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
     id   age city    f1  f2   f3    f4         f5
0  id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2  id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3  id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
     id   age city    f1  f2   f3    f4         f5
0  id43  23.0   대구  60.0   0  NaN  ISTP  17.252986
1  id70  -9.0   경기  96.0   1  NaN  ISTP  17.252986
2  id17  74.0   서울   NaN   1  NaN  ISTP  17.252986
3  id23  34.0   부산  75.0   1  NaN  ISTP  17.252986
4  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
53.63

C:\Users\user\AppData\Local\Temp\ipykernel_13540\2295362671.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f5'][:10] = f5_min